@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background: linear-gradient(135deg, #E9EDF2 0%, #D3DCE6 50%, #B8C6D6 100%);
    min-height: 100vh;
}

::-webkit-scrollbar {
    /* Customize the scrollbar width */
    width:6px;
}

::-webkit-scrollbar-track {
    /* Customize the scrollbar track */
    background:#E3E8EC;
}

::-webkit-scrollbar-thumb {
    /* Customize the scrollbar thumb */
    background:#4A6FA5;
    border-radius: 10px;
}